.dropdown {
	position: relative;
	width: 100%;
}

.sub-container {
	/* position: absolute; */
	/* top: 100%; */
}
.option {
	padding: 4px;
}
.option:hover {
	background-color: rgb(224 242 254);
	border-radius: 4px;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
