table {
	border-collapse: collapse;
	/* table-layout: auto; */
	border-spacing: 10px 10px;
}

td {
	padding: 12px;
}

tr {
	border-bottom-style: solid;
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	padding: 12px;
}

.label-header {
	cursor: pointer;
}
.label-header:hover {
	background-color: rgb(243 244 246);
}
